= render 'wholesale/header'
.page-margin.content-margin
  .goods-filter-search-cnt
    #goods-filter-cnt.goods-filter-cnt.ns
      .goods-filter-col.lb
        .drop-down-list-out
          .drop-down-btn.alt-font
            .drop-down-btn-of
              .drop-down-btn-long
                = selected_category.present? ? selected_category.name : "Вся продукция"
            %span.drop-down-btn-arr
          .drop-down-list-in.na
            %ul.drop-down-list-cnt.alt-font
              %li.ddl-item
                %a.ddl-i-l{href: current_catalog_path_except(:category)} Вся продукция
              - @categories.each do |cat|
                %li.ddl-item
                  %a.ddl-i-l{href: current_catalog_path_with(category: cat.id)}= cat.name
            .drop-down-list-shadow
      .goods-filter-col.lb
        .drop-down-list-out
          .drop-down-btn.alt-font
            .drop-down-btn-of
              .drop-down-btn-long
              = selected_metal.present? ? selected_metal.name : "Все металлы"
            %span.drop-down-btn-arr
          .drop-down-list-in.na
            %ul.drop-down-list-cnt.alt-font
              %li.ddl-item
                %a.ddl-i-l{href: current_catalog_path_except(:metal)} Все металлы
              - @metals.each do |metal|
                %li.ddl-item
                  %a.ddl-i-l{href: current_catalog_path_with(metal: metal)}= metal.name
            .drop-down-list-shadow
      .goods-filter-col.lb
        .drop-down-list-out
          .drop-down-btn.alt-font
            .drop-down-btn-of
              .drop-down-btn-long
                = selected_insert.present? ? selected_insert.name : "Все вставки"
            %span.drop-down-btn-arr
          .drop-down-list-in.na
            %ul.drop-down-list-cnt.alt-font
              %li.ddl-item
                %a.ddl-i-l{href: current_catalog_path_except(:insert)} Все вставки
              - @inserts.each do |ins|
                %li.ddl-item
                  %a.ddl-i-l{:href => current_catalog_path_with(insert: ins.id)}= ins.name
            .drop-down-list-shadow
    :javascript
      remix.simpleDropDowns({
        context:$('#goods-filter-cnt')
      });
    .goods-search-cnt
      %form.goods-search-from{method: 'get', action: '/catalog'}
        %input.f-t-field.goods-search-inp{:placeholder => "Поиск по артикулу", :type => "text", :name => "article"}/
        %input.goods-search-sbmt{:type => "submit", :value => ""}/
  - if params[:article]
    .cf
      %h2.ib Поиск: артикул #{params[:article]}
      %a.fr.f14.alt-font.ib.mt7{:href => "/catalog"} Отменить поиск по артикулу
  .goods-grid-cnt.alt-font
    - @items.each_slice(5) do |slice|
      .goods-grid
        - slice.each do |item|
          .goods-grid-item.goods-grid-item-toview{"data-url" => item.image.url}
            .goods-grid-i-cnt
              %img.goods-grid-i{:alt => "Изделие", :src => item.image.thumb}/
            .goods-grid-text.goods-grid-text-zoom-pad
              %div Артикул: #{item.article}
              %div Вес #{item.weight}
              %span.ico.zoom-ico.goods-grid-text-zoom-ico
  = paginate @items, :outer_window => 3