- title "Ювелирный дом \"Ремикс\": Новости: #{@article.title}"
- content_for :javascripts do
  = javascript_include_tag "http://vkontakte.ru/js/api/share.js?9", charset: 'windows-1251'
%h1.txa-c.page-h-anim Новости
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.text.lb
    %h2= @article.title
    .nl-date= l(@article.published_at, format: '%d.%m.%Y')
    != @article.content
    = render 'social_block', article: @article
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к новостям', articles_path, class: 'thin-link'

  / end nl-content-col text
  / nl-aside-col
  -#.nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{:href => "/pages/actions.html"} Другие акции
    .nl-aside-item.nl-aside-item-brd
      %a.onhoverlink.block.black{:href => "#"}
      %h3.h-article.mb14
        «
        %span.onhoverlink-signal.thin-link> А вдруг удача
        »
      .onhover-op
        %img.img-b.mb8{:alt => "", :src => "/i/temp/nlpic2.jpg"}/
      .text-mini.alt-font.onhoverlink-signal
        С 3 декабря до 15 января в Ювелирном доме "Ремикс" действует акция "Скидка года"! Кроме этого, каждый покупатель обязательно...
    .nl-aside-item.nl-aside-item-brd
      %a.onhoverlink.block.black{:href => "#"}
      %h3.h-article.mb14
        «
        %span.onhoverlink-signal.thin-link> Выиграй свадебное путешествие в Париж
        »
      .onhover-op
        %img.img-b.mb8{:alt => "", :src => "/i/temp/nlpic3.jpg"}/
      .text-mini.alt-font.onhoverlink-signal
        С 3 декабря до 15 января в Ювелирном доме "Ремикс" действует акция "Скидка года"! Кроме этого, каждый покупатель обязательно...
