- title "Ювелирный дом \"Ремикс\": Новости: #{@article.title}"
- content_for :javascripts do
  = javascript_include_tag "http://vkontakte.ru/js/api/share.js?9", charset: 'windows-1251'
%h1.txa-c.page-h-anim Новости
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.text.lb
    %h2= @article.title
    .nl-date= @article.published_at
    != @article.content
    = render 'social_block', article: @article
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Все новости', articles_path, class: 'thin-link black'
  - if @article.sidebar.present?
    .nl-aside-col.lb
      = render "sidebars/#{@article.sidebar.kind}", sidebar: @article.sidebar