%h1.page-h-anim.txa-c Адреса магазинов
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.lb
    - if @top_store
      .nl-top-message
        %h2.nl-hdr= @top_store.name
        .nl-2col-cnt.ns
          .nl-2col.lb
            - if @top_store.image.present?
              = image_tag @top_store.image.main.url, class: %w(nl-img mb6)
            .text-mini
              = store_info(@top_store)
              - if @top_store.email.present?
                = succeed "," do
                  %a.thin-link.ib{href: @top_store.email} @top_store.email
              %div
                %a.thin-link{href: "#"} Посмотреть на карте
          .nl-2col.lb
            .nl-top-mes-pad
              .nl-2col-cnt.ns.mb8
                .nl-2col.lb
                  %img.nl-img{alt: "", src: "/assets/addr/adrr5.jpg"}/
                .nl-2col.lb
                  %img.nl-img{alt: "", src: "/assets/addr/adrr2.jpg"}/
              .text-mini
                В ювелирном доме «Ремикс» находятся
                %a.thin-link{href: "/jewelry-discounter"} ювелирный дискаунтер
                и
                = succeed "." do
                  %a.thin-link{href: "/wedding-rings-center"} центр обручальных колец

    - @stores.each_slice(2) do |slice|
      .nl-2col-cnt.nl-mb.ns
        - slice.each do |store|
          .nl-2col.lb
            %h2.nl-hdr= store.name
            = image_tag store.image.main.url, class: %w(nl-img mb8)
            .text-mini
              = store_info(store)
              %div
                %a.thin-link{href: "#"} Посмотреть на карте
    .gem-sep.gem-sep-linen.nl-mb
      %span.ico.gem-sep-ico

  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{href: "/offers"} Акции и скидки
    = render 'sidebars/offers', offers:  Offer.order('created_at desc').where(discount: true)
