- content_for :javascripts do
  = javascript_include_tag "http://vk.com/js/api/share.js?86", charset: 'windows-1251'
.page-margin
  .intro-slider.intro-slider-offset.main-menu-margin.wideslider
    .slider-content
      - @banners.each do |banner|
        - if banner.url.present?
          %a{href: banner.url, style: "display: block; width: 100%; height: auto"}
            = render 'banner_content', banner: banner
        - else
          %div
            = render 'banner_content', banner: banner
.page-margin
  .main-menu-margin
    .sp-previews
      = render 'articles_slider'
      .sp-pview-gap
      = render 'offers_slider'
      .sp-pview-gap
      = render 'last_magazine'
.page-margin
  = render 'feedback'
:javascript
  remix.feedBackForm();
.photo-bkg
  .photo-shadow-top-ptrn
  .photo-shadow-gold
  %h2.h-section.gold.txa-c.mb30.page-h-anim
    %a.gold.thin-link{:href => albums_path} Фото и мероприятия
  .page-margin.txa-c
    .photo-grid.photo-grid-pad
      - @album_items.limit(10).each do |item|
        .ph-g-item
          %a.ph-g-i-l{:href => item.image.fullscreen.url, :title => item.album.title}
            %img.ph-g-i{:alt => "", :src => item.image.thumb.url}/
.sp-map-cnt
  .sp-address-on-map
    .sp-address.page-margin
      %h2.h-section.gold.txa-c.mb24.page-h-anim
        %a.thin-link.gold{:href => "/stores"} Сеть магазинов
      #sp-address-list.sp-address-list.jst-layout
        - @stores.each do |store|
          .sp-address-item
            .sp-address-item-highlight.sp-address-item-highlight-on{"data-latitude" => "#{store.lat}", "data-longitude" => "#{store.lng}"}
              .h-item= store.name
              .text-mini
                = store.address
                %br/
                #{store.phone}, #{store.opening_hours}
  #sp-map.sp-map-layout-block