.page-margin
  .intro-slider.intro-slider-offset.main-menu-margin.wideslider
    .slider-content
      - @banners.each do |banner|
        %div
          .relpos.ovh
            .intro-text
              .intro-text-va-m
                != banner.text
            %a{href: "http://yandex.ru", style: "display: block; width: 100%; height: auto"}
              %img.intro-slider-i{:alt => "", :src => banner.image.url}/
.page-margin
  .main-menu-margin
    .sp-previews
      = render 'articles_slider'
      .sp-pview-gap
      = render 'offers_slider'
      .sp-pview-gap
      = render 'last_magazine'
.page-margin
  = render 'feedback'
:javascript
  remix.feedBackForm();
- if @last_album
  .photo-bkg
    .photo-shadow-top-ptrn
    .photo-shadow-gold
    %h2.h-section.gold.txa-c.mb30.page-h-anim
      %a.gold.thin-link{:href => albums_path} Фото и мероприятия
    .page-margin.txa-c
      .photo-grid.photo-grid-pad
        - @last_album.album_items.each do |item|
          .ph-g-item
            /%a.ph-g-i-l{:href => item.image.fullscreen.url, :title => @last_album.title}
            %img.ph-g-i{:alt => "", :src => item.image.thumb.url}/
.sp-map-cnt
  .sp-address-on-map
    .sp-address.page-margin
      %h2.h-section.gold.txa-c.mb24.page-h-anim
        %a.thin-link.gold{:href => "/stores"} Сеть магазинов
      #sp-address-list.sp-address-list.jst-layout
        .sp-address-item
          .sp-address-item-highlight.sp-address-item-highlight-on{"data-latitude" => "56.011343", "data-longitude" => "92.866605"}
            .h-item ЮД «Ремикс»
            .text-mini
              г. Красноярск
              %span.sp-address-value ул. Перенсона, 23а
              %br/
              +7 (391) 227-06-27, с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.012754", "data-longitude" => "92.87566"}
            .h-item Дом Быта
            .text-mini
              г. Красноярск,
              = succeed "," do
                %span.sp-address-value пр. Мира, 60
              1 этаж,
              %br/
              +7 (391) 227-98-07, понедельник–суббота:
              %br/
              с 10:00–20:00, воскресенье: с 10:00–19:00
              %br/
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.013989", "data-longitude" => "92.856465"}
            .h-item ТЦ «Квант»
            .text-mini
              г. Красноярск,
              %span.sp-address-value ул. Красной Армии, 10
              %br/
              +7 (391) 252-93-22 с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.010313", "data-longitude" => "92.860445"}
            .h-item ЦУМ
            .text-mini
              Красноярск,
              %span.sp-address-value ул. Карла Маркса, 102
              %br/
              +7 (391) 211-01-20, с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "55.98698", "data-longitude" => "92.886297"}
            .h-item На Матросова
            .text-mini
              г. Красноярск,
              %span.sp-address-value ул. Матросова, 14
              %br/
              +7 (391) 294-89-10, понедельник–суббота:
              %br/
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.00402", "data-longitude" => "92.931501"}
            .h-item ТЦ «Красноярье»
            .text-mini
              %span.sp-address-value.na пр. им. г. «Красноярский рабочий», 120
              г. Красноярск, пр. Красноярский
              %br/
              Рабочий, 120 +7 (391) 295-57-59,
              %br/
              с 10:00–20:00 (без перерыва и выходных)
  #sp-map.sp-map-layout-block