
.h-section.page-h-anim.txa-c О компании
.sub-menu.alt-font
  %a.sub-menu-link.black{:href => articles_path} Новости
  %h1.rst.inline
    %a.sub-menu-link.sub-menu-link-select.black Журнал
  %a.sub-menu-link.black{:href => "/pages/edu-center.html"} Ювелирная фабрика
  %a.sub-menu-link.black{:href => "/pages/contact.html"} Контактная информация
.content-shadow.mb12
/ end sub-menu
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.lb
    - if @main_magazine
      .nl-top-message
        %a.black.onhoverlink.block{:href => "/pages/action.html"}
        %h2.nl-top-mes-pad
          «
          %a.onhoverlink-signal.thin-link{href: magazine_path(@main_magazine)}>= @main_magazine.title
          »
        .nl-i-cnt.onhover-op
          = image_tag @main_magazine.link_to_cover_img, class: 'img-b'
        .text.nl-top-mes-pad
          %p
            = @main_magazine.lead
        .f16
          = link_to 'Читать журнал', @main_magazine, class: 'thin-link'
    - lines_count = (@magazines.length+1)/2
    - @magazines.each_slice(2).with_index do |slice, slice_index|
      .nl-2col-cnt.nl-mb.ns
        - slice.each do |magazine|
          .nl-2col.lb
            %a.black.onhoverlink.block{:href => magazine_path(magazine)}
              .nl-i-cnt.onhover-opz
                = image_tag magazine.link_to_cover_img, class: 'img-b'
            %h2
              «
              %a.thin-link.onhoverlink-signal{href: magazine_path(magazine)}>= magazine.title
              »
            .text
              %p= magazine.lead
            .f16
              = link_to 'Читать журнал', magazine, class: 'thin-link'
      - if slice_index < (lines_count-1)
        .gem-sep.gem-sep-linen.nl-mb
          %span.ico.gem-sep-ico

  = render 'aside'