- title "Ювелирный дом \"Ремикс\": Журнал: #{@magazine.title}"
- content_for :javascripts do
  = javascript_include_tag "//e.issuu.com/embed.js", async: true

.h-section.page-h-anim.txa-c О компании
= render 'shared/submenus/about'
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.text.lb
    .text.nl-mb
      %h2= @magazine.title
      %p= @magazine.lead
    .issuuembed{"data-configid" => @magazine.embedId, :style => "width: 100%; height: 525px; margin-bottom: 20px"}
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к журналам', magazines_path, class: 'thin-link black'
  = render 'aside'