- title "Ювелирный дом \"Ремикс\": #{@page.title}"

%h1.txa-c.page-h-anim= @page.title
- if @page.submenu.present?
  = @page.submenu.html_safe
.content-shadow.mb12
.page-margin.content-margin.ns
  = render @page.template
  - if @page.sidebar.present?
    .nl-aside-col.lb
      = render "sidebars/#{@page.sidebar.kind}", sidebar: @page.sidebar