- title "Ювелирный дом \"Ремикс\": #{@page.title}"
- if current_page?('/about')
  %h1.txa-c.page-h-anim О компании
  = render 'shared/submenus/about'
- else
  %h1.txa-c.page-h-anim= @page.title
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.text.lb.pagecontent
    != @page.content
  .nl-aside-col.lb
    - @page.sidebar_items.each_with_is_last do |sidebar_item, is_last|
      - classes = %w(nl-aside-item nl-aside-item-user-content)
      - classes << 'nl-aside-item-brd' unless is_last
      %div{class: classes}
        != sidebar_item.text