- title "Ювелирный дом \"Ремикс\": Фото и мероприятия: #{@album.title}"
- content_for :javascripts do
  = javascript_include_tag "http://vk.com/js/api/share.js?86", charset: 'windows-1251'
%h1.page-h-anim.txa-c Фото и мероприятия
.sub-menu.alt-font
  %a.sub-menu-link.black{:href => albums_path} Все мероприятия
  - Album.tag_counts.each do |tag|
    %a.sub-menu-link.black{href: tag_albums_path(tag.name)}= tag.name
.photo-bkg
  .photo-shadow-bkg
    .photo-shadow-top-ptrn
    .photo-shadow-gold
  .page-margin.content-margin
    .text.text-width.white
      %h2.gold= @album.title
      .nl-date= l(@album.created_at, format: '%d.%m.%Y')
      != @album.content
    .photo-grid
      - @album.album_items.each do |item|
        .ph-g-item
          %a.ph-g-i-l{:href => item.image.fullscreen.url, :title => item.description}
            %img.ph-g-i{:alt => "", :src => item.image.thumb.url}/
