%h1.txa-c.page-h-anim Акции и скидки
/ sub-menu
.sub-menu.alt-font
  %a.sub-menu-link.black{href: offers_path, class: (params[:tag].present? ? nil : 'sub-menu-link-select')} Все акции и скидки
  - Offer.tag_counts.each do |tag|
    %a.sub-menu-link.black{href: tag_offers_path(tag.name), class: (params[:tag]==tag.name ? 'sub-menu-link-select' : nil)}= tag.name
/ end sub-menu
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.lb
    - if @main_offer
      .nl-top-message
        %a.black.onhoverlink.block{:href => "/pages/action.html"}
        %h2.nl-top-mes-pad
          «
          %span.onhoverlink-signal.thin-link>= @main_offer.title
          »
        .nl-date.nl-top-mes-pad Срок проведения: с #{l(@main_offer.date_start)}–#{l(@main_offer.date_finish)}
        .nl-i-cnt.onhover-op
          = image_tag @main_offer.image.url, class: 'img-b'
        .text.nl-top-mes-pad
          %p
            = @main_offer.lead
        .f16
          = link_to 'Читать условия акции', @main_offer, class: 'thin-link'
    - lines_count = (@offers.length+1)/2
    - @offers.each_slice(2).with_index do |slice, slice_index|
      .nl-2col-cnt.nl-mb.ns
        - slice.each do |offer|
          .nl-2col.lb
            %a.black.onhoverlink.block{:href => "/pages/action.html"}
            .nl-i-cnt.onhover-op
              = image_tag offer.image.url, class: 'img-b'
            %h2
              «
              %span.thin-link.onhoverlink-signal>= offer.title
              »
            .nl-date-mini Срок проведения: с #{l(offer.date_start)}–#{l(offer.date_finish)}
            .text
              %p= offer.lead
            .f16
            = link_to 'Читать условия акции', offer, class: 'thin-link'
      - if slice_index < (lines_count-1)
        .gem-sep.gem-sep-linen.nl-mb
          %span.ico.gem-sep-ico

  / nl-aside-col
  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{:href => "#"} Cкидки
    - @discounts.each do |d|
      .nl-aside-item.nl-aside-item-brd
        %a.onhoverlink.block.black{:href => offer_path(d)}
          .onhover-op
            %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => d.image.aside}/
          %h3
            %span.onhoverlink-signal.thin-link= d.title
          .text-mini.alt-font.onhoverlink-signal= d.lead
