- title "Ювелирный дом \"Ремикс\": Акции и скидки: #{@offer.title}"
%h1.txa-c.page-h-anim Акции и скидки
= render 'header'
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.text.lb
    %h2= @offer.title
    - unless @offer.discount?
      .nl-date-mini Срок проведения: с #{l(@offer.date_start)}–#{l(@offer.date_finish)}
    - if @offer.image.present?
      %img{:alt => "", :src => @offer.image.main}/
    != @offer.content
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к акциям', offers_path, class: 'black thin-link'
  - if @offer.sidebar.present?
    .nl-aside-col.lb
      = render "sidebars/#{@offer.sidebar.kind}", sidebar: @offer.sidebar