- title "Ювелирный дом \"Ремикс\": Акции и скидки: #{@offer.title}"
%h1.txa-c.page-h-anim Акции и скидки
= render 'header'
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.text.lb
    %h2= @offer.title
    - unless @offer.discount?
      .nl-date-mini Срок проведения: с #{l(@offer.date_start)}–#{l(@offer.date_finish)}
    %img{:alt => "", :src => @offer.image.main}/
    != @offer.content
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к акциям', offers_path, class: 'black thin-link'
  / end nl-content-col text
  / nl-aside-col
  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font.gold
      Постоянные акции
    = render 'sidebars/offers', offers:  Offer.order('created_at desc').where(discount: true)