%h1.txa-c.page-h-anim Акции и скидки
/ sub-menu
.sub-menu.alt-font
  %a.sub-menu-link.black{href: offers_path} Все акции и скидки
  - Offer.tag_counts.each do |tag|
    %a.sub-menu-link.black{href: tag_offers_path(tag.name)}= tag.name
/ end sub-menu
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.text.lb
    %h2= @offer.title
    %img{:alt => "", :src => @offer.image}/
    != @offer.content
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к акциям', offers_path, class: 'thin-link'
  / end nl-content-col text
  / nl-aside-col
  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{:href => "/pages/actions.html"} Другие акции
    = render 'sidebars/offers', offers:  Offer.order('created_at desc').where('id <> ?', @offer).first(2)